<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/CSS/workout.css">
    <title></title>
  </head>
  <body>
    <style>
    body{
      background-color: gold;
    }
    main{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: 20px auto;
      justify-content: space-between;
    }
    .card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;


    }
    .card img {
      display: block;
      width: 100%;
    }
    h1{
      font-size: 100px;
      text-align: center;
      font-family: 'Germania One', cursive;
    }
  </style>

  <h1>Arms</h1>
  <main>

    <div class="card">
      <img src="https://www.burnthefatinnercircle.com/members/images/1683b.jpg?cb=20191017074720" alt="">
      <div id="workout">Bicep Curls</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
      </div>
  </div>



    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/05/Triceps-Rope-Push-down.png" alt="">
      <div id="workout">Tricep Rope Extensions</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
      </div>




    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/10/Dumbbell-Preacher-Curl.png" alt="">
      <div id="workout">Preacher Curls</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
    </div>


    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/05/Dumbbell-Kickback.png" alt="">
      <div id="workout">Tricep Kickbacks</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
      </div>
    </div>

</main>
  </body>
</html>
