<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/CSS/workout.css">
    <title></title>
  </head>
  <body>
    <style>
    body{
      background-color: gold;
    }
    main{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: 20px auto;
      justify-content: space-between;
    }
    .card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;


    }
    .card img {
      display: block;
      width: 100%;
    }
    h1{
      font-size: 100px;
      text-align: center;
      font-family: 'Germania One', cursive;
    }
  </style>

  <h1>Legs</h1>
  <main>

    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/10/barbellsquat.png" alt="">
      <div id="workout">Barbell Squats</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
      </div>
  </div>



    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/05/Sled-45-degree-Leg-Press.png" alt="">
      <div id="workout">Leg Press</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
      </div>




    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/05/lever-leg-extension.png" alt="">
      <div id="workout">Leg Extensions</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
    </div>


    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/10/Lever-Standing-Calf-Raise.png" alt="">
      <div id="workout">Calf Raises</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
      </div>
    </div>

</main>
  </body>
</html>
