<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/CSS/workout.css">
    <title></title>
  </head>
  <body>
    <style>
    body{
      background-color: gold;
    }
    main{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: 20px auto;
      justify-content: space-between;
    }
    .card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;


    }
    .card img {
      display: block;
      width: 100%;
    }
    h1{
      font-size: 100px;
      text-align: center;
      font-family: 'Germania One', cursive;
    }
  </style>

  <h1>Shoulders</h1>
  <main>

    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/05/Dumbbell-Shoulder-Press.png" alt="">
      <div id="workout">Shoulder Press</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
      </div>
  </div>



    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/12/Seated-Dumbbell-Lateral-Raise.png" alt="">
      <div id="workout">Lateral Raises</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
      </div>




    <div class="card">
      <img src="https://weighttraining.guide/wp-content/uploads/2016/10/Alternating-dumbbell-front-raise.png" alt="">
      <div id="workout">Front Raises</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
    </div>


    <div class="card">
      <img src="https://i.pinimg.com/736x/d1/87/49/d18749d93e11cfe34ac497b5c7afcb9b.jpg" alt="">
      <div id="workout">Reverse Pec Deck Fly</div>
      <div id="reps">Reps:6-8</div>
      <div id="sets">Sets:4</div>
      </div>
    </div>

</main>
  </body>
</html>
